<div class="container">
  <div class="row">
    <div class="col-md-2">
          <%= link_to "Back to artists", artists_path, class: "btn btn-primary", role:"button" %>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <div class="thumbnail artist" id="'<%= @artist.id %>'">
                <% if @artist.image_url == true %>
                <%= image_tag(@artist.image_url) =%>
                <% else %>
                <p>test</p>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <h1><%= @artist.name %></h1>
              <%= link_to "Delete artist", artist_path(@artist), class: "btn btn-danger", method: :delete, data: { confirm: "all the songs will be deleted too" } %>
            </div>
          </div>
        </div>

          <%= render 'songs/list_songs' %>
          <div class="panel-footer">
            <%= render 'songs/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
