<div class="row">
  <div class="col-md-3">
    <h4><%= @artist.name %></h4>
    <%= image_tag(@artist.image_url) =%>
        <%= @artist.id =%>
  </div>
</div>
<div class="row">
  <% @artist.songs.each do |song| %>
    <div class="panel-body">
      <div class="col-md-3">
          <h4><%= song.name %></h4>
      </div>
    </div>
  <% end %>
</div>

  <div class="panel-body">
      <%= render 'songs/form' %>
  </div>
